<!--<p-toast key="tst" [style]="{marginTop: '50px'}"></p-toast>-->

<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">

    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch" icon="pi pi-circle-on" (click)="dark = true"></p-button>
            <p-button styleClass="light-switch" icon="pi pi-circle-off" (click)="dark = false"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img id="logo-login" src="../../../../assets/layout/images/logo-login.png" alt="mirage-layout"/>
                </div>
                <h1>IGNUG - ASISTENCIA</h1>
                <p>Sistema de Gestión Académica</p>
                <div class="forms">
                    <div class="login-input-wrapper">
                        <label for="username">Identificación</label>
                        <input id="username" pInputText [(ngModel)]="user.user_name"
                               placeholder="Ingrese su número de cédula" (keypress)="onLoggedin($event)"
                               tooltipEvent="focus"/>
                        <i class="pi pi-id-card" style="font-size: 2em"></i>
                    </div>

                    <div class="login-input-wrapper">
                        <label for="password">Contraseña</label>
                        <input [type]="flagPassword" id="password" placeholder="Ingrese su contraseña" pPassword
                               [(ngModel)]="user.password" tooltipEvent="focus" (keypress)="onLoggedin($event)"
                               [feedback]="false"/>
                        <i class="pi pi-eye" (click)="flagPassword='text'" *ngIf="flagPassword=='password'"
                           style="font-size: 2em"></i>
                        <i class="pi pi-eye-slash" (click)="flagPassword='password'" *ngIf="flagPassword=='text'"
                           style="font-size: 2em"></i>
                    </div>
                    <p-messages [value]="msgs"></p-messages>
                    <div class="buttons">
                        <button pButton type="button" (click)="onLoggedin($event)" label="Login"
                                icon="pi pi-sign-in"></button>

                        <button pButton type="button" onclick="document.getElementById('myModal').showModal()" id="btn"
                       label="Registrate">

                        </button>

                        <a href="#" class="secondary-button">¿Olvidó su contraseña?</a>
                    </div>
                </div>
            </div>
        </div>

        <dialog id="myModal" class="h-auto w-11/12 md:w-1/2 p-5 bg-white rounded-md">
            <div class="flex flex-col w-full h-auto p-3">
              <div class="flex w-full h-auto items-center">
                <div class="flex w-10/12 h-auto py-3 text-xl md:text-2xl ml-5">
                  Selecciona el rol que desea
                </div>
                <div onclick="document.getElementById('myModal').close();"
                     class="flex w-1/12 h-auto justify-center cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" vieswBox="0 0 24 24" fill="none" stroke="#000000"
                       stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                  </svg>
                </div>
              </div>
              <div class="w-full h-auto py-10 justify-center items-center text-center">
                <div class="w-full md:w-full px-3 mb-4">
                  <button routerLink="/person"
                          class="appearance-none block w-full border border-gray-900 text-gray-900 hover:bg-gray-900 hover:text-gray-100 rounded-lg py-3 px-3 leading-tight focus:outline-none">
                    Estudiante
                  </button>
                </div>
                <div class="w-full md:w-full px-3 mb-4">
                  <button routerLink="/empresa"
                          class="appearance-none block w-full border border-gray-900 text-gray-900 hover:bg-gray-900 hover:text-gray-100 rounded-lg py-3 px-3 leading-tight focus:outline-none">
                    Empresa
                  </button>
                </div>
              </div>
            </div>
          </dialog>

        <div class="desert"></div>
    </div>
</div>
